[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
openai = "*"
fastapi = "*"
uvicorn = "*"
requests = "*"
numpy = "*"
pandas = "*"
torch = "*"
pydantic = "*"
mwparserfromhell = "*"
pyunpack = "*"
patool = "*"
sqlalchemy = "*"
pg8000 = "*"
bs4 = "*"
python-dotenv = "*"
"google.auth" = "*"
cloud-sql-python-connector = {extras = ["pymysql"], version = "*"}
lxml = "*"
update = "*"
pipenv = "*"
jupyter = "*"
typing-extensions = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
