[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
requests = "*"
numpy = "*"
pandas = "*"
torch = "*"
pydantic = "*"
mwparserfromhell = "*"
pyunpack = "*"
patool = "*"
bs4 = "*"
python-dotenv = "*"
lxml = "*"
update = "*"
pipenv = "*"
typing-extensions = "*"
cohere = "*"
pinecone-client = "*"
discord = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
